[Unit]
Description=Splash screen
DefaultDependencies=no
After=local-fs.target

[Service]
ExecStart=fbi -d /dev/fb0 --noverbose -a /home/pi/.KickPi-OS/config/splash/Booting.png
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target
