[Unit]
Description=KickPi-OS_config_allways
After=console-setup.service
Wants=console-setup.service

[Service]
Type=exec
Restart=always
RestartSec=1
User=$USER
UMask=0000
ExecStart=/usr/local/bin/KickPi-OS_config_allways.sh

[Install]
WantedBy=multi-user.target


